body {background-color: coral;}


h1,h2{text-align: center;}
h1,h2{font-family: Futura;}


p{width:750px;
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-size: large}
  
video, img, audio, canvas, p{
    display: block; 
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-family: Helvetica;}

